<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BitcoinAddressLookup</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>x86_64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>1F351BE0D725AC6D7C6E6A4CEEE567ADD8468BC5</string>
				<key>dateExpires</key>
				<string>18/12/2022</string>
				<key>type</key>
				<string>Developer ID Application</string>
			</dict>
			<key>name</key>
			<string>BTC Address Lookup.app</string>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>4SJ5BPZ2QK</string>
				<key>name</key>
				<string>Haakon Hoel Bakker</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
